<h2>Manage User</h2>

<form *ngIf="form" [formGroup]="form" (ngSubmit)="saveUser()" novalidate>
  <mat-form-field class="user-details-input">
    <input matInput formControlName="name" placeholder="First name">
  </mat-form-field>

  <mat-form-field class="user-details-input">
    <input matInput formControlName="surname" placeholder="Last name">
  </mat-form-field>

  <mat-form-field class="user-details-input">
    <input matInput formControlName="birthDate" placeholder="Birth date">
  </mat-form-field>

  <mat-form-field class="user-details-input">
    <input matInput formControlName="phone" placeholder="Phone">
  </mat-form-field>

  <mat-form-field class="user-details-input">
    <input matInput formControlName="city" placeholder="City">
  </mat-form-field>

  <mat-form-field class="user-details-input">
    <input matInput formControlName="street" placeholder="Street">
  </mat-form-field>

  <mat-form-field class="user-details-input">
    <input matInput formControlName="number" placeholder="Number">
  </mat-form-field>

  <button mat-raised-button type="submit" [disabled]="progress">Edit</button>
  or <a mat-stroked-button (click)="deleteUser()">Delete</a>
</form>
