@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.33333;
  padding: 0;
  margin: 0;
}

a {
  color: #15b;

  &:hover {
    text-decoration: none;
  }
}

.mat-drawer-container {
  min-height: 100vh;
}

.mat-drawer-inner-container {
  min-width: 200px;
}

.mat-drawer,
.mat-drawer-content {
  padding: 15px;
}
